@font-face {
    font-family: 'Nixie One';
    font-style: normal;
    font-weight: 400;
    src: local('Nixie One'), local('NixieOne-Regular'), url(../fonts/nixie-one-webfont.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

ul,li{
	padding: 0;
	margin: 0;
}

ul{
	list-style-type: none;
}

/* color */

/* background */
.bg-orange{
	background-color: #ffa94d;
}
.bg-yellow{
	background-color: #ffd43b;
}
.bg-green{
	background-color: #a9e34b;
}
.bg-gray{
	background-color: #ced4da
}
.bg-red{
	background-color: #ff8787;
}
.bg-pink{
	background-color: #f783ac;
}
.bg-grape{
	background-color: #e599f7;
}
.bg-violet{
	background-color: #9775fa;
}


/* font-size */
.fs-48{
	font-size: 48px;
}

.fs-32{
	font-size: 32px;
}

.fs-24{
	font-size: 24px;
}

.fs-16px{
	font-size: 16px;
}


body{
	font-family : 'Nixie One', 'minijianyingbik73ae7bc2216c4b', 'Microsoft YaHei', sans-serif;
	background-color:#eee;
	margin: 0 auto;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    background-color: #f6f6f6;
}
